version: "3.9"

services:
  spark-master:
    image: apache/spark:3.5.1
    container_name: spark-master
    platform: linux/arm64
    environment:
      - SPARK_MODE=master
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
    ports:
      - "8080:8080"
      - "7077:7077"
    networks:
      - spark-net

  spark-worker:
    image: apache/spark:3.5.1
    container_name: spark-worker
    platform: linux/arm64
    depends_on:
      - spark-master
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
      - SPARK_WORKER_MEMORY=4G
      - SPARK_WORKER_CORES=4
    networks:
      - spark-net

  jupyter:
    build: .
    #jupyter/base-notebook:latest
    container_name: jupyter
    platform: linux/arm64
    ports:
      - "8888:8888"
    environment:
      - JUPYTER_ENABLE_LAB=yes
    volumes:
      - ./include:/home/jovyan/include
      - ./notebooks:/home/jovyan/work
      - ./data:/home/jovyan/data
    command: >
      bash -c "
      pip install pyspark==3.5.1 &&
      start-notebook.sh --NotebookApp.token='' --NotebookApp.password=''
      "
    networks:
      - spark-net

networks:
  spark-net:
    driver: bridge